extends layout

block content
  div.box
    h1 Quidditch Scoreboard
    p Points are added in sets of 10
    div.scoreboard
      form.scoreboard__form 
        select(name="team") Team
          option(value="hh") HollyHead Harpies
          option(value="bb") Ballycastle Bats
          option(value="mm") Monstrose Magpies
          option(value="ww") Wimbourne Wasps
          option(value="ff") Falmouth Falcons
        div.form__input
          label(for="score") Score: 
          input(name="score", type="text")
        input(type="submit" value="submit")
    a(href="./live") Check the scoreboard here

  script(src="/javascripts/app.js") 