extends layout

block content
  div.box
    h1 Quidditch Scoreboard
    p Check the current team ranking!
    div.tableBox 
      table
        tr
          th HollyHead Harpies 
          th.hh Score
        tr
          th Ballycastle Bats 
          th.bb Score
        tr
          th Monstrose Magpies 
          th.mm Score
        tr
          th Wimbourne Wasps 
          th.ww Score
        tr
          th Falmouth Falcons 
          th.ff Score
  script(src="/javascripts/live.js") 