extends layout

block content
  div.box
    h1 Quidditch Scoreboard
    p Check the current team ranking!
    div.tableBox 
      table
        tr
          th HollyHead Harpies 
          th.hh 0
        tr
          th Ballycastle Bats 
          th.bb 0
        tr
          th Monstrose Magpies 
          th.mm 0
        tr
          th Wimbourne Wasps 
          th.ww 0
        tr
          th Falmouth Falcons 
          th.ff 0
  a(href="./") Checkout admin page
  script(src="/javascripts/live.js") 